@charset "utf-8";

html{
    margin: 0 auto;
    padding: 0;
}

body{
    margin: 0 auto;
    padding: 0;
}



.slide{
    aspect-ratio: 3/2;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: black;
    overflow: hidden;
}


img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    opacity: 0;
    animation: fadeAnime 70s infinite;

}

div img:nth-child(1){animation-delay: 0s;}
div img:nth-child(2){animation-delay: 7s;}
div img:nth-child(3){animation-delay: 14s;}
div img:nth-child(4){animation-delay: 21s;}
div img:nth-child(5){animation-delay: 28s;}
div img:nth-child(6){animation-delay: 35s;}
div img:nth-child(7){animation-delay: 42s;}
div img:nth-child(8){animation-delay: 49s;}
div img:nth-child(9){animation-delay: 56s;}
div img:nth-child(10){animation-delay: 63s;}




@keyframes fadeAnime{
0%{opacity: 0;filter: grayscale(1);scale: 1;}
3%{opacity: 1;filter: grayscale(1);}
6%{filter: grayscale(0);}
8%{opacity: 1;filter: grayscale(0);}
12%{opacity: 0;scale: 1.05;}
20%{opacity: 0;}
100%{opacity: 0;}
}